
@model PagedList.IPagedList<webluuniem.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var x = Model.Count;
}


<style>
    .pagination li a {
        padding: 5px;
        margin: 3px;
        border: solid 1px white;
    }

    .frame-index {
        margin: 10px auto;
        padding: 10px;
    }
</style>
<div class="frame-index">
    <h2>Sản phẩm</h2>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="~/Admin/Product/Index">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Gõ từ khóa để tìm" name="searchString">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <h6>Có <a class="text-danger">@x</a>  kết quả </h6>
        </div>
    </section>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BrandID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    <img src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Image)" style="width:50px; height:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    <a href="~/Admin/Product/Delete?id=@item.ProductID" onclick="return confirm('Bạn có chắc muốn xóa ?')">Xóa</a>
                </td>
            </tr>
        }

    </table>


    <br />
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <br>
    <br>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))

</div>
